body{
    
    margin-top: 4rem;
    background-color: rgb(153, 226, 245);
    background-image: url("/phpsystem/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-position: center;
}

.container{
    background-color: rgba(48, 42, 42, 0.9);
    border-radius: 15px;
    padding:1.2rem 3rem;

}

h3{
    color: white;
    margin: 15px 0;
}

.or {
    position: absolute;
    top: 50%;
    left: 48%;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
  }

  .login-form-1{
      padding:8px 30px;
      border-right: 1px solid black;
  }

  .login-form-2{
    padding: 10px 30px;
  }

  .btnSubmit{
      border-radius: 6px;
      padding: 4px 7px;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
      font-weight: 500;
      font-size: 18px;

  }
  .btnSubmit:hover{
      background-color: rgb(76, 128, 241);
      color: white;
  }
  .resetPass{
      margin-top: 4rem;
  }
