body{
    background-image: url("PHP_LOGIN_SYSTEM/images/welcome.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    
}
a{
    float: right;
    margin: 10px;
    padding: 3px;
}